.title-font {
    font-family: "Satoshi", sans-serif;
}

.registerul {
    list-style-type: none;
    margin-left: 1rem;
}

.registerli:before {
    content: "";
    display: inline-block;
    width: 1rem;
    height: 1rem;
    margin-right: 0.5rem;
    background: url(../public/register/arrow.svg) no-repeat;
    background-size: contain;
    background-position: bottom;
}

.prize1,
.prize2 {
    position: relative;
    text-align: left;
    padding-left: 40px;
    margin: 1rem 0;
}

.prize1:before,
.prize2:before {
    content: "";
    position: absolute;
    width: 30px;
    height: 30px;
    top: 0;
    left: 0;
    background-size: contain;
}

.prize1:before {
    background: url(../public/register/first.svg) no-repeat;
}

.prize2:before {
    background: url(../public/register/second.svg) no-repeat;
}
