@media only screen and (max-width: 1200px) {
    #slider {
        width: 31%;
    }
}

@media only screen and (max-width: 992px) {
    #slider {
        width: 33%;
    }
    .event_tab {
        width: 250.938px;
    }
}
 
@media only screen and (max-width: 768px) {
    #event_top_sec {
        grid-template-columns: 18% 36%;
        gap: 0 46%;
    }
    #event_txt p{
        font-size: 5vw;
    }
    #event_btn a {
        padding: 4% 7.5%;
    }
    #slider {
        width: 40%;
    }
    .event_tab {
        width: 230.938px;
    }
    #skull {
        width: 50px;
        height: 50px;
    }
    #cursor {
        width: 25px;
        height: 32px;
    }
}

@media only screen and (max-width: 620px) {
    #event_top_sec {
        grid-template-columns: 23% 42%;
        gap: 0 35%;
    }
    #event_txt p{
        font-size: 6.5vw;
    }
    #event_btn a {
        padding: 4% 8.5%;
    }
    #slider {
        width: 50%;
    }
    .event_tab {
        width: 222.938px;
    }
}

@media only screen and (max-width: 510px) {
    #event_top_sec {
        grid-template-columns: 25% 42%;
        gap: 0 33%;
    }
    #event_txt p{
        font-size: 7.5vw;
    }
    .e-cnt2 p {
        font-size: 28px;
    }
    #cursor {
        width: 20px;
        height: 28px;
    }
}

@media only screen and (max-width: 450px) {
    #event_sec {
        grid-template-rows: 11% 79% 10%;
    }
    #event_top_sec {
        grid-template-columns: 30% 53%;
        gap: 0 17%;
    }
    #event_txt p{
        font-size: 8.5vw;
    }
    #event_btn a {
        font-size: 102%;
    }
    #event_slider {
        white-space: normal;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .event_tab {
        margin-top: 13%;
        height: 327.4px;
    }
    .e-cnt2 p {
        font-size: 25px;
    }
    .e-cnt1 {
        display: none;
    }
    .e-cnt2 {
        display: grid;
    }
    .e_top_leaf, .e_bottom_leaf {
        display: block;
    }

    #slider, #inslider {
        background-color: transparent;
        width: 100%;
        height: 100%;
    }
    #inslider {
        display: flex;
        justify-content: center;
    }
    #skull {
        margin-top: 6%;
    }
}


@media only screen and (max-width: 300px) {
    #event_sec {
        grid-template-rows: 10% 80% 10%;
    }
    #event_top_sec {
        grid-template-columns: 30% 55%;
        gap: 0 15%;
    }
    #event_txt p{
        font-size: 8.5vw;
    }
    #event_btn a {
        padding: 3.5% 8%;
        font-size: 96%;
    }
    .event_tab {
        margin-top: 22%;
        width: 210.938px;
    }
    .e_top_leaf {
        width: 120px;
        height: 120px;
    }
    
    .e_bottom_leaf {
        width: 120px;
        height: 120px;
    }
}



@media only screen and (max-height: 700px) {
    #event_sec {
        grid-template-rows: 14% 76% 10%;
    }
}

@media only screen and (max-height: 540px) {
    #event_sec {
        grid-template-rows: 14% 75% 11%;
    }
}