@import url('https://fonts.googleapis.com/css2?family=Londrina+Solid&display=swap');

* {
    margin: 0;
    padding: 0;
}

#event_sec {
    background-color: #FBF2E5;
    width: 99.98vw;
    height: 99.9vh;
    display: grid;
    grid-template-rows: 15% 77% 8%;

    font-family: 'Londrina Solid';
    
    --e-col-red: #F3442D;
    --e-col-blue: #28A0D7;
    --e-col-yellow: #FFB808;

}

#event_top_sec {
    display: grid;
    grid-template-columns: 18% 30%;
    gap: 0 52%;
}

#event_scroller {
    display: flex;
    justify-content: center;
}

#event_txt {
    display: flex;
    justify-content: end;
    align-items: end;
}

#event_txt p{
    font-size: 4vw;
}

#event_btn {
    display: flex;
    justify-content: center;
    align-items: end;
}

#event_btn a {
    margin: 3% 0;
    background-color: #FFE198;
    border: 2px solid black;
    border-radius: 60px;
    box-shadow: -2px 2px 1px;
    color: black;
    padding: 3% 7%;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 115%;
    cursor: pointer;
}

#event_slider {
    box-sizing: border-box;
    overflow-x: auto;
    white-space: nowrap;
    scroll-behavior: smooth;
    height: 100%;
    position: relative;    
    -ms-overflow-style: none;  /* Edge */
    scrollbar-width: none;  /* Firefox */
}

#event_slider::-webkit-scrollbar {
    display: none;
}

.event_tab {
    margin: 3.5% 2%;
    display: inline-block;
    position: relative;
    border-radius: 90px;
    height: 75%;
    width: 262.938px;
    cursor: pointer;
}

.event_tab a { 
    text-decoration: none;
}

.e-red {
    background: var(--e-col-red);
}
.e-blue {
    background: var(--e-col-blue);
}
.e-yellow {
    background: var(--e-col-yellow);
}

.e-cnt1 {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25%;
    justify-content: center;
}

.e-cnt2 {
    display: none;
    grid-template-rows: 24% 16% 60%;
    width: 100%;
    height: 100%;
    border-radius: 90px;
    background-color: white;
    box-sizing: border-box;

    position:relative;
    z-index: 1;
}

.e-cnt2 p {
    font-size: 30px;
    white-space:pre-line;
    text-align: center;
}

.e-cnt2 div img {
    margin-top: auto;
}

.e_top_leaf {
    display: none;
    position: absolute;
    top:-15%;
    left:58%;
}

.e_bottom_leaf {
    display: none;
    position: absolute;
    top:78%;
    left:-20%;
}

.eb-red {
    color: var(--e-col-red);
    border: 10px solid var(--e-col-red);
}
.eb-blue {
    color: var(--e-col-blue);
    border: 10px solid var(--e-col-blue);
}
.eb-yellow {
    color: var(--e-col-yellow);
    border: 10px solid var(--e-col-yellow);
}

.rot180 {
    transform: rotate(-180deg);
}


#slider {
    --skull:54px;
    display: inline-block;
    border-radius: 33px;
    background: #d9555049;
    width: 26%;
    height: calc(var(--skull)/2);
}

#inslider {
    background-color: #F3442D;
    border-radius: inherit;
    width: 48px;
    height: calc(var(--skull)/2);
}
  
#skull {
    width: var(--skull);
    height: var(--skull);
    position: relative;
    top:-12px;
    cursor: pointer;
}

.event_tab:hover .e-cnt1 {
    display: none;
}
.event_tab:hover .e-cnt2 {
    display: grid;
    animation: changeOP .5s ease-in;
}
.event_tab:hover .e_top_leaf, .event_tab:hover .e_bottom_leaf {
    display: block;
    animation: changeOP .8s ease-in;
}

@keyframes changeOP {
    0% {opacity: 0;}
    25% {opacity: 0.15;}
    50% {opacity: 0.35;}
    75% {opacity: 0.60;}
    100% {opacity: 1;}
}