@import url("https://fonts.googleapis.com/css2?family=Londrina+Solid&display=swap");

/* * {
    margin: 0;
    padding: 0;
} */

#event_sec {
    /* background-color: #fbf2e5; */
    width: 100%;
    min-height: 100vh;
    /* display: grid;
    grid-template-rows: 15% 77% 8%; */
    /* bg-[#fbf2e5] w-full min-h-screen grid */

    --e-col-red: #f3442d;
    --e-col-blue: #28a0d7;
    --e-col-yellow: #ffb808;
}

/* #event_top_sec {
    display: grid;
    grid-template-columns: 18% 30%;
    gap: 0 52%;
} */

#event_scroller {
    /* display: flex; */
    /* justify-content: center; */
    /* flex justify-center */
}

/* 
#event_txt {
    display: flex;
    justify-content: end;
    align-items: end;
} */

/* #event_txt p {
    font-size: 4vw;
} */

/* #event_btn {
    display: flex;
    justify-content: center;
    align-items: end;
} */

#event_btn a {
    /* margin: 3% 0; */
    /* background-color: #ffe198; */
    /* border: 2px solid black; */
    /* border-radius: 60px; */
    /* box-shadow: -2px 2px 1px; */
    /* color: black; */
    /* padding: 3% 7%; */
    /* text-align: center; */
    /* text-decoration: none; */
    /* display: inline-block; */
    /* font-size: 115%; */
    /* cursor: pointer; */
}

#event_slider {
    /* box-sizing: border-box; */
    /* overflow-x: auto; */
    /* white-space: nowrap; */
    /* scroll-behavior: smooth; */
    /* height: 100%; */
    /* position: relative; */
    /* -ms-overflow-style: none; Edge */
    /* scrollbar-width: none; Firefox */

    /* box-border overflow-auto no-wrap scroll-smooth h-full relative */
}

#event_slider::-webkit-scrollbar {
    display: none;
}

.event_tab {
    /* margin: 3.5% 2%; */
    /* display: inline-block; */
    /* position: relative; */
    /* border-radius: 90px; */
    /* height: 75%; */
    /* width: 262.938px; */
    /* cursor: pointer; */
}

.event_tab a {
    /* text-decoration: none; */
}

.e-red {
    background: var(--e-col-red);
}
.e-blue {
    background: var(--e-col-blue);
}
.e-yellow {
    background: var(--e-col-yellow);
}

.e-cnt1 {
    /* width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25%;
    justify-content: center; */

    /* flex items-center flex-column gap-[25%] justify-center */
}

.e-cnt2 {
    /* display: none; */
    /* grid-template-rows: 24% 16% 60%; */
    /* width: 100%; */
    /* height: 100%; */
    /* border-radius: 90px; */
    /* background-color: white; */
    /* box-sizing: border-box; */

    /* position: relative; */
    /* z-index: 1; */

    /* hidden w-full h-full rounded-[90px] bg-white relative z-1 */
}

.e-cnt2 p {
    /* font-size: 30px;
    white-space: pre-line;
    text-align: center; */

    /* text-[30px] whitespace-preline text-center */
}
/* 
.e-cnt2 div img {
    margin-top: auto;
} */

.e_top_leaf {
    /* display: none;
    position: absolute;
    top: -15%;
    left: 58%; */

    /* none absolute top[-15%] left-[58%] */
}

.e_bottom_leaf {
    /* display: none;
    position: absolute;
    top: 78%;
    left: -20%; */

    /* none absolute top[-78%] left-[-20%] */
}

.eb-red {
    color: var(--e-col-red);
    border: 10px solid var(--e-col-red);
}

.eb-blue {
    color: var(--e-col-blue);
    border: 10px solid var(--e-col-blue);
}

.eb-yellow {
    color: var(--e-col-yellow);
    border: 10px solid var(--e-col-yellow);
}
/* 
.rot180 {
    transform: rotate(-180deg);
} */

#slider {
    --skull: 54px;
    display: inline-block;
    border-radius: 33px;
    background: #d9555049;
    width: 26%;
    height: calc(var(--skull) / 2);
}

#inslider {
    background-color: #f3442d;
    border-radius: inherit;
    width: 48px;
    height: calc(var(--skull) / 2);
}

#skull {
    width: var(--skull);
    height: var(--skull);
    position: relative;
    top: -12px;
    cursor: pointer;
}

.event_tab:hover .e-cnt1 {
    /* display: none; */
}
.event_tab:hover .e-cnt2 {
    /* display: grid; */
    animation: changeOP 0.5s ease-in;
}
.event_tab:hover .e_top_leaf,
.event_tab:hover .e_bottom_leaf {
    /* display: block; */
    animation: changeOP 0.8s ease-in;
}

@keyframes changeOP {
    0% {
        opacity: 0;
    }
    25% {
        opacity: 0.15;
    }
    50% {
        opacity: 0.35;
    }
    75% {
        opacity: 0.6;
    }
    100% {
        opacity: 1;
    }
}

@media only screen and (max-width: 1200px) {
    #slider {
        width: 31%;
    }
}

@media only screen and (max-width: 992px) {
    #slider {
        width: 33%;
    }
    /* .event_tab {
        width: 250.938px;
    } */
}

@media only screen and (max-width: 768px) {
    /* #event_top_sec {
        grid-template-columns: 18% 36%;
        gap: 0 46%;
    } */
    /* #event_txt p {
        font-size: 5vw;
    } */
    /* #event_btn a {
        padding: 4% 7.5%;
    } */
    #slider {
        width: 40%;
    }
    /* .event_tab {
        width: 230.938px;
    } */
    #skull {
        width: 50px;
        height: 50px;
    }
    #cursor {
        width: 25px;
        height: 32px;
    }
}

@media only screen and (max-width: 620px) {
    /* #event_top_sec {
        grid-template-columns: 23% 42%;
        gap: 0 35%;
    } */
    /* #event_txt p {
        font-size: 6.5vw;
    } */
    /* #event_btn a {
        padding: 4% 8.5%;
    } */
    #slider {
        width: 50%;
    }
    /* .event_tab {
        width: 222.938px;
    } */
}

@media only screen and (max-width: 510px) {
    /* #event_top_sec {
        grid-template-columns: 25% 42%;
        gap: 0 33%;
    } */
    /* #event_txt p {
        font-size: 7.5vw;
    } */
    /* .e-cnt2 p {
        font-size: 28px;
    } */
    #cursor {
        width: 20px;
        height: 28px;
    }
}

@media only screen and (max-width: 450px) {
    /* #event_sec {
        grid-template-rows: 11% 79% 10%;
    } */
    /* #event_top_sec {
        grid-template-columns: 30% 53%;
        gap: 0 17%;
    } */
    /* #event_txt p {
        font-size: 8.5vw;
    }
    #event_btn a {
        font-size: 102%;
    } */
    #event_slider {
        /* white-space: normal; */
        /* display: flex; */
        /* flex-direction: column; */
        /* align-items: center; */
    }
    .event_tab {
        /* margin-top: 13%; */
        /* height: 327.4px; */
    }
    /* .e-cnt2 p {
        font-size: 25px;
    }
    .e-cnt1 {
        display: none;
    }
    .e-cnt2 {
        display: grid;
    } */
    .e_top_leaf,
    .e_bottom_leaf {
        opacity: 1;
    }

    #slider,
    #inslider {
        background-color: transparent;
        width: 100%;
        height: 100%;
    }
    #inslider {
        display: flex;
        justify-content: center;
    }
    #skull {
        margin-top: 6%;
    }
}

@media only screen and (max-width: 300px) {
    #event_sec {
        grid-template-rows: 10% 80% 10%;
    }
    /* #event_top_sec {
        grid-template-columns: 30% 55%;
        gap: 0 15%;
    } */
    /* #event_txt p {
        font-size: 8.5vw;
    } */
    /* #event_btn a {
        padding: 3.5% 8%;
        font-size: 96%;
    }
    .event_tab {
        margin-top: 22%;
        width: 210.938px;
    } */
    /* .e_top_leaf {
        width: 120px;
        height: 120px;
    }

    .e_bottom_leaf {
        width: 120px;
        height: 120px;
    } */
}

@media only screen and (max-height: 700px) {
    /* #event_sec {
        grid-template-rows: 14% 76% 10%;
    } */
}

@media only screen and (max-height: 540px) {
    /* #event_sec {
        grid-template-rows: 14% 75% 11%;
    } */
}
