/* @import url('https://fonts.googleapis.com/css2?family=Londrina+Solid&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Satoshi&display=swap'); */

body {
    background-color: #0D393A;
    background-repeat: no-repeat;
    background-size: 800px;
    background-position: 90% -25%;
    font-family: 'Londrina Solid', sans-serif;
}

.title-font {
  font-family: 'Satoshi', sans-serif;
}

ul {
  list-style-type: none;
  margin-left: 1rem;
}

li:before {
  content: "";
  display: inline-block;
  width: 1rem;
  height: 1rem;
  margin-right: 0.5rem;
  background: url(../public/register/arrow.svg) no-repeat;
  background-size: contain;
}

.prize-1:before{
  background: url(../public/register/first.svg) no-repeat;
  background-size: contain;
}

.prize-2:before{
  background: url(../public/register/second.svg) no-repeat;
  background-size: contain;
}
