.s_box {
    /* background: #fafafd; */
}
/*  */

.s_box:hover {
    /* transform: scale(1.05);
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px; */
    /* migrated */
}

.s_icon {
    max-height: 80%;
    max-width: 80%;
    margin-left: auto;
    margin-right: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.s_shell {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px 20px;
    /* margin: 50px 30px 80px 0px; */
    margin-top: 30px;
    margin-bottom: 50px;
}

a.sponsorsLink {
    /* color: black; */
    text-decoration: none;
}

/* Title of the timeline_card */
.title {
    color: orangered;
    position: relative;
}

/* Timeline dot  */
.title::before {
    content: "";
    position: absolute;
    width: 10px;
    height: 10px;
    top: 20px;
    background: white;
    border-radius: 999px;
    /* border: 3px solid orangered; */
}
